@import "./bootstrap.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

.balances-card, .send-tokens-card {
  width: 500px;
  margin-top: 25px;
}

.card-img-wallet:hover {
  opacity: 0.5;
}

.card-img-wallet:active {
  transform: scale(0.8);
}

.navbar-img {
  height: 26px;
}

.set-cursor-pointer {
  cursor: pointer;
}

.user-balance {
  font-size: 3.7rem;
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .balances-card, .send-tokens-card {
    width: 100%;
    margin: 5px;
    margin-top: 15px;
  }
}
